/[Bb]uild/
/.vscode/
/.idea/
.DS_Store

/game

/.clangd/
/compile_commands.json

/conan_paths.cmake
/conan.lock
/conanbuildinfo.txt
/conaninfo.txt
/Findtinyxml2.cmake
/graph_info.json

/cmake-*/
/*.log
/bot_behavior.nn

/*.tar
/*.tar.xz
/*.tar.bz2
